In [1]:
# Q1:
for i in range(0,5):
    fsds=""
    for j in  range(0,i):
        
        fsds = fsds + " " + "ineuron"
  
    print(fsds)

 ineuron
 ineuron ineuron
 ineuron ineuron ineuron
 ineuron ineuron ineuron ineuron

In [2]:
# Q2: 

n=3
    
k = 1
for i in range(n, -1 , -1):
    for j in range(k , 0 , -1):
        print(end="       ")
    k = k + 1    
    for j in range(0, i+1):
        print("ineoron " , end="       ")
    print("\r")
k = 4
for i in range(0 , n+1):
    for j in range(0 , k):
        print(end="       ")
    k = k - 1
    for j in range(0, i + 1):
         print("ineoron ", end="       ")
    print("\r")
    
# Took help from Internet

       ineoron        ineoron        ineoron        ineoron
              ineoron        ineoron        ineoron
                     ineoron        ineoron
                            ineoron
                            ineoron
                     ineoron        ineoron
              ineoron        ineoron        ineoron
       ineoron        ineoron        ineoron        ineoron

In [3]:
l=[[1,2,3,4],(2,3,4,5),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':"yugal","k2":"Ntt","k3":"kumar",3:6,7:8},["ntt","MCM"]]
l

[[1, 2, 3, 4],
 (2, 3, 4, 5),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [4]:
# Q3: Try to extract all the list entity
for i in l:
    print(i)

[1, 2, 3, 4]
(2, 3, 4, 5)
(3, 4, 5, 6, 7)
{45, 4, 5, 23}
{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}
['ineuron', 'data science']

In [5]:
#Q4 Try to extract all the dict entries
for i in l:
    if type(i)==dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [6]:
#Q5 Try to extract all the tuple entities
for i in l:
    if type(i) == tuple:
        print(i)

(2, 3, 4, 5)
(3, 4, 5, 6, 7)

In [7]:
#Q6 Try to extract all the all numerical data
for i in l :
#     print(i)
    for j in i:
#         print(j)
        if type(j)==int:
            print(j)

1
2
3
4
2
3
4
5
3
4
5
6
7
45
4
5
23
3
7

In [8]:
#Q7 Try to give summation of all numeric data
s=0
for i in l :
    for j in i:
        if type(j)==int:
            s=s+j
print(s)

136

In [9]:
#Q8 Try to filter out all the odd values 
for i in l :
    for j in i:
        if type(j)==int and j%2!=0:
            print(j)

1
3
3
5
3
5
7
45
5
23
3
7

In [10]:
#Q9: Try to extract ineoron out of this list
for i in l :
    for j in i:
#         print(i)
        if j=="ineuron":
            print(i,":",j)
    if type(i)==dict:
        for k in i:
            if(i[k]=="ineuron"):
                print(i,":",i[k])

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8} : ineuron
['ineuron', 'data science'] : ineuron

In [11]:
#Q10:Try to find out the number of occurence of all the data
L1=[]
for i in l:
    for j in i:
        if(type(i)!=dict):
#             print(i)
            L1.append(j)
        else:
            L1.append(i[j])
   
L2=set(L1)
for x in L2:
    print("Occurance of ",x," is : ",L1.count(x))

Occurance of  1  is :  1
Occurance of  2  is :  2
Occurance of  3  is :  3
Occurance of  4  is :  4
Occurance of  5  is :  3
Occurance of  6  is :  2
Occurance of  7  is :  1
Occurance of  8  is :  1
Occurance of  data science  is :  1
Occurance of  ineuron  is :  2
Occurance of  45  is :  1
Occurance of  kumar  is :  1
Occurance of  23  is :  1
Occurance of  sudh  is :  1

In [12]:
#Q11 Try to find out No of keys in Dict
x=0
for i in l:
    for j in i:
        if type(i)==dict:
            print(j)
            x=x+1
print("No of keys : ",x)

k1
k2
k3
3
7
No of keys :  5

In [13]:
#Q12 : Try to filter out all string
s=[]
for i in l:
    for j in i:
        if(type(j)==str):
            s.append(j)
        if(type(i)==dict and type(i[j])==str):
            s.append(i[j])
print(s)

['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron', 'data science']

In [14]:
#Q13: Try to find out alphanumin data
r=[]
for i in l:
    for j in i:
#         print(j)
        if(type(j)==str and str(j).isalnum()==True):
            r.append(j)
        if(type(i)==dict and str(i[j]).isalnum()==True and type(i[j])==str):
            r.append(i[j])
r

['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron']

In [15]:
# Q14 : Try to find out multiplication of all numeric value in the individual collection inside dataset

for i in l:
    for j in i:
        if(type(i)!=dict and type(j)== int):
            print("Multiplication of ",j,":",j*j)
        if(type(i)==dict and type(i[j])== int):
            print("Multiplication of ",i[j],":",i[j]*i[j])

Multiplication of  1 : 1
Multiplication of  2 : 4
Multiplication of  3 : 9
Multiplication of  4 : 16
Multiplication of  2 : 4
Multiplication of  3 : 9
Multiplication of  4 : 16
Multiplication of  5 : 25
Multiplication of  3 : 9
Multiplication of  4 : 16
Multiplication of  5 : 25
Multiplication of  6 : 36
Multiplication of  7 : 49
Multiplication of  45 : 2025
Multiplication of  4 : 16
Multiplication of  5 : 25
Multiplication of  23 : 529
Multiplication of  6 : 36
Multiplication of  8 : 64

In [16]:
#Q15: Try to unwrap all the collection inside a collection and create the flat list
fl=[]
for i in l:
    for j in i:
        fl.append(j)
        if(type(i)==dict):
            fl.append(i[j])

print(fl)

[1, 2, 3, 4, 2, 3, 4, 5, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science']