For Loops

In [1]:
l= [1,2,3,5,"anup","kumar",2.1]

In [5]:
for i in l:
    print(i)

1
2
3
5
anup
kumar
2.1

In [3]:
l[::1]

[1, 2, 3, 5, 'anup', 'kumar', 2.1]

In [6]:
for i in l : 
    pass

In [21]:
s = "anup kharwar"
for i in s:
    if i == " " : 
        pass
    else :
        print(i)

a
n
u
p
k
h
a
r
w
a
r

In [12]:
for i in l:
    print(i)
else:
    print("else block")

1
2
3
5
anup
kumar
2.1
else block

In [15]:
for i in l:
    if i== 3:
        break
    print(i)
else :
    print("anything")

1
2

In [29]:
s="anup"
for i in s:
    if i=="p":
        break
    print(i)
else :
        print("done")

a
n
u

In [32]:
# tuple extract
t=(1,2,3,4,5,6,"anup",2.9)
for i in t:
    print(i)

1
2
3
4
5
6
anup
2.9

In [35]:
s={1,3,4,5,6,7,3,4,"anup","anup"}
s

{1, 3, 4, 5, 6, 7, 'anup'}

In [36]:
for i in s:
    print(i)

1
3
4
5
6
7
anup

In [37]:
d={"k1":"v1","k2":"v2","k3":"v3","k4":"v4"}

In [40]:
for i in d:
    print(i,d[i])

k1 v1
k2 v2
k3 v3
k4 v4

In [44]:
# inbuild functin
r = list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [48]:
r=list(range(0,9,1))
r=list(range(9,0,-1))
r

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [50]:
n=4
for i in range(4):
    for j in range(0,i+1):
        print("anup",end=" ")
    print("\n")

anup

anup anup

anup anup anup

anup anup anup anup

In [51]:
l=[1,2,3,4]
for i in l:
    print("anup")

anup
anup
anup
anup

In [125]:
n=3
for i in range(n):
    for j in range(n):
        print(i,end = " ")
        print(j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [70]:
n=3
for i in range(n):
    for j in range(i,n-1):
        print(" "*len("A"),end=" ")

In [76]:
t=(1,2,3,4,5,6,68,2)
for i in range(len(t)):
    print(i,t[i])

0 1
1 2
2 3
3 4
4 5
5 6
6 68
7 2

In [79]:
s="anupkharwar"
for i in range(len(s)):
    print(i,s[i])

0 a
1 n
2 u
3 p
4 k
5 h
6 a
7 r
8 w
9 a
10 r

In [94]:
s="anupkharwar"
for i in range(len(s)-1,-1,-1):
    print(i,s[i])

10 r
9 a
8 w
7 r
6 a
5 h
4 k
3 p
2 u
1 n
0 a

In [95]:
d

{'k1': 'v1', 'k2': 'v2', 'k3': 'v3', 'k4': 'v4'}

In [100]:
for i in d.items():
    print(i,type(i),type(i[1]))

('k1', 'v1') <class 'tuple'> <class 'str'>
('k2', 'v2') <class 'tuple'> <class 'str'>
('k3', 'v3') <class 'tuple'> <class 'str'>
('k4', 'v4') <class 'tuple'> <class 'str'>

In [101]:
l

[1, 2, 3, 4]

In [107]:
L = ["anup","kumar","a@b.com",98772,123]
L1=[]
for i in L:
    if type(i)==int:
         L1.append(i)
    else:
        pass

In [109]:
L1+["A"]

[98772, 123, 'A']

In [110]:
list("A")

['A']

In [111]:
d

{'k1': 'v1', 'k2': 'v2', 'k3': 'v3', 'k4': 'v4'}

In [112]:
D={1:12432,"name":"anup","email":"a@b.com",234:"abc"}

In [113]:
D

{1: 12432, 'name': 'anup', 'email': 'a@b.com', 234: 'abc'}

In [116]:
for i in D:
    if type(i) == int:
        print(i,D[i])
    else:
        pass

1 12432
234 abc

In [118]:
s1 ="aaabbbccdd"
a = 0
b = 0
c = 0
d = 0
for i in s1:
    if i == "a":
        a = a + 1
    if i== "b":
        b = b + 1
    if i=="c":
        c = c+1
    if i=="d":
        d=d+1
print("a: ",a)
print("b: ",b)
print("c: ",c)
print("d: ",d)

a:  3
b:  3
c:  2
d:  2

In [119]:
ss ="aaabbbccdd"

In [121]:
for i in set(ss):
    print(i,":",ss.count(i))

b : 3
d : 2
c : 2
a : 3

In [132]:
i=23802402984
s=str(i)
s1=set(s)
for i in s1:
    print(i,":",s.count(i))

2 : 3
3 : 1
9 : 1
0 : 2
8 : 2
4 : 2

In [149]:
t = ("subh","kumar",[1,2,3,4,5],(3,3,4,56,0),{"k1":"v1",3:3})
for i in range(len(t)):
    for j in t[i]:
        if j==3:
            print(i,"3")

2 3
3 3
3 3
4 3

In [152]:
t = ("subh","kumar",[1,2,3,4,5],(3,3,4,56,0),{"k1":"v1",3:3})
for i in t:
    if type(i)==list or type(i)==tuple:
        for j in i:
            if j == 3 :
                print(j)
    if type(i)== dict:
        for k,v in i.items():
            if k==3 or v ==3:
                print(k)
                print(v)

3
3
3
3
3

In [153]:
a,b,c = 10,20,30

In [154]:
a,b,c

(10, 20, 30)

In [214]:
# Q1:
for i in range(0,5):
    fsds=""
    for j in  range(0,i):
        
        fsds = fsds + " " + "ineuron"
  
    print(fsds)

 ineuron
 ineuron ineuron
 ineuron ineuron ineuron
 ineuron ineuron ineuron ineuron

In [227]:
# Q2: 

n=3
    
k = 1
for i in range(n, -1 , -1):
    for j in range(k , 0 , -1):
        print(end="       ")
    k = k + 1    
    for j in range(0, i+1):
        print("ineoron " , end="       ")
    print("\r")
k = 4
for i in range(0 , n+1):
    for j in range(0 , k):
        print(end="       ")
    k = k - 1
    for j in range(0, i + 1):
         print("ineoron ", end="       ")
    print("\r")

       ineoron        ineoron        ineoron        ineoron
              ineoron        ineoron        ineoron
                     ineoron        ineoron
                            ineoron
                            ineoron
                     ineoron        ineoron
              ineoron        ineoron        ineoron
       ineoron        ineoron        ineoron        ineoron

In [204]:
i = j =[3]
i += j
i.append(4)
print(i,j)

[3, 3, 4] [3, 3, 4]

In [209]:
i=j=2
# j=1
i += j
print(i,j)

4 2

In [207]:
x,y=(0,1) if True else None,None
print(x)

(0, 1)

In [2]:
l=[[1,2,3,4],(2,3,4,5),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","data science"]]

In [213]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [215]:
# Q3: Try to extract all the list entity
for i in l:
    print(i)

[1, 2, 3, 4]
(2, 3, 4, 5)
(3, 4, 5, 6, 7)
{45, 4, 5, 23}
{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}
['ineuron', 'data science']

In [218]:
#Q4 Try to extract all the dict entries
for i in l:
    if type(i)==dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [219]:
#Q5 Try to extract all the tuple entities
for i in l:
    if type(i) == tuple:
        print(i)

(2, 3, 4, 5)
(3, 4, 5, 6, 7)

In [234]:
#Q6 Try to extract all the all numerical data
for i in l :
#     print(i)
    for j in i:
#         print(j)
        if type(j)==int:
            print(j)

1
2
3
4
2
3
4
5
3
4
5
6
7
45
4
5
23
3
7

In [236]:
#Q7 Try to give summation of all numeric data
s=0
for i in l :
    for j in i:
        if type(j)==int:
            s=s+j
print(s)

136

In [237]:
#Q8 Try to filter out all the odd values 
for i in l :
    for j in i:
        if type(j)==int and j%2!=0:
            print(j)

1
3
3
5
3
5
7
45
5
23
3
7

In [268]:
#Q9: Try to extract ineoron out of this list
for i in l :
    for j in i:
#         print(i)
        if j=="ineuron":
            print(i,":",j)
    if type(i)==dict:
        for k in i:
            if(i[k]=="ineuron"):
                print(i,":",i[k])

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8} : ineuron
['ineuron', 'data science'] : ineuron

In [292]:
#Q10:Try to find out the number of occurence of all the data
L1=[]
for i in l:
    for j in i:
        if(type(i)!=dict):
#             print(i)
            L1.append(j)
        else:
            L1.append(i[j])
   
L2=set(L1)
for x in L2:
    print("Occurance of ",x," is : ",L1.count(x))

Occurance of  data science  is :  1
Occurance of  1  is :  1
Occurance of  2  is :  2
Occurance of  3  is :  3
Occurance of  4  is :  4
Occurance of  5  is :  3
Occurance of  6  is :  2
Occurance of  7  is :  1
Occurance of  ineuron  is :  2
Occurance of  8  is :  1
Occurance of  45  is :  1
Occurance of  23  is :  1
Occurance of  kumar  is :  1
Occurance of  sudh  is :  1

In [ ]:
#Q11 Try to find out No of keys in Dict

In [296]:
x=0
for i in l:
    for j in i:
        if type(i)==dict:
            print(j)
            x=x+1
print("No of keys : ",x)

k1
k2
k3
3
7
No of keys :  5

In [300]:
#Q12 : Try to filter out all string
s=[]
for i in l:
    for j in i:
        if(type(j)==str):
            s.append(j)
        if(type(i)==dict and type(i[j])==str):
            s.append(i[j])
print(s)

['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron', 'data science']

In [322]:
#Q13: Try to find out alphanumin data
r=[]
for i in l:
    for j in i:
#         print(j)
        if(type(j)==str and str(j).isalnum()==True):
            r.append(j)
        if(type(i)==dict and str(i[j]).isalnum()==True and type(i[j])==str):
            r.append(i[j])
r

['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron']

In [5]:
# Q14 : Try to find out multiplication of all numeric value in the individual collection inside dataset

for i in l:
    for j in i:
        if(type(i)!=dict and type(j)== int):
            print("Multiplication of ",j,":",j*j)
        if(type(i)==dict and type(i[j])== int):
            print("Multiplication of ",i[j],":",i[j]*i[j])

Multiplication of  1 : 1
Multiplication of  2 : 4
Multiplication of  3 : 9
Multiplication of  4 : 16
Multiplication of  2 : 4
Multiplication of  3 : 9
Multiplication of  4 : 16
Multiplication of  5 : 25
Multiplication of  3 : 9
Multiplication of  4 : 16
Multiplication of  5 : 25
Multiplication of  6 : 36
Multiplication of  7 : 49
Multiplication of  45 : 2025
Multiplication of  4 : 16
Multiplication of  5 : 25
Multiplication of  23 : 529
Multiplication of  6 : 36
Multiplication of  8 : 64

In [8]:
#Q15: Try to unwrap all the collection inside a collection and create the flat list
fl=[]
for i in l:
    for j in i:
        fl.append(j)
        if(type(i)==dict):
            fl.append(i[j])

print(fl)

[1, 2, 3, 4, 2, 3, 4, 5, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science']