In [5]:
a=10
if a==10 :
    print("thi is my first condition")
else :
    print("this is False")

this is flase

In [8]:
a=10
if a>10 :
    pass

In [9]:
a=20
if a != 11 :
    print("False")
else :
    print("else")

False

In [11]:
x = 10
if x==12 : 
    print("12")
elif x == 10:
    print("10")
else :
    print("other")

10

In [17]:
x=10
y=20
if (x==10 and y==20):
    print("xy")

xy

In [18]:
price =500
if price <= 500:
    print("Yes")
else : 
    print("No")

Yes

In [23]:
l=[1,2,3,4,5]
if 2 in l :
    l[l.index(2)] =12
    print(l)

[1, 12, 3, 4, 5]

In [26]:
l=[1,2,3,4,5]
if 2 in l :
    l[l.index(2)] =12
elif 5 in l :
    l[l.index(5)] =15
print(l)

[1, 12, 3, 4, 5]

In [27]:
price  = 300
if price >= 500:
    if price >= 300:
        print("buy")

In [35]:
a = 400
b = int(input())
if a > b:
    if (b <= 300 and b >= 250) :
        print("ok")
    else :
        print("yes")
else : 
    print("out")

247
yes

In [40]:
m = int(input())
if m >= 600 :
    if m>600:
        print("GRE")
else :
    print("No GRE")
    if (m <= 500 and m >= 400):
        print("Tofel")
    else:
        
        print("something else")

600

In [42]:
val=float(input("enter a floating point number :"))
if val >= 0:
    if val == 0:
        print("Zero")
    else:
        print("postive")
else:
    print("Negative")

enter a floating point number :600
postive

In [52]:
l=list(input("pass the list : "))
print(l)
if('2' in l and '5' in l):
    print("2  and 5")
    if('3' in l):
        print("3 also")
    
    else :
        print("Nothing")

pass the list : 12345
['1', '2', '3', '4', '5']
2  and 5
3 also

In [55]:
d={"key1":"val1","key2":"val2"}
if d["key1"]=="val1" and d["key2"]=="val2":
    print("got it")
    print(d.values())

got it
dict_values(['val1', 'val2'])

In [56]:
l=[1,2,3,4,5,"anup",3.2,True]
for x in l :
    print(x)

1
2
3
4
5
anup
3.2
True

In [70]:
l=[1,2,3,4,5,"anup",3.2,True,6]
for x in l :
    if type(x)==int or type(x)==float:
        x=x+1
    if type(x)==str:
        x=x+"1"
    print(x)
    if x == 10:
        break

2
3
4
5
6
anup1
4.2
True
7